<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
    <script src="https://kit.fontawesome.com/c6f76b78db.js" crossorigin="anonymous"></script>
    <title>About</title>
</head>
<body>
    <div class="main-content">
    {{>header}}
     <main></main>
                    <p>
                       Hey ! This is Deepanshu bisht . I am a third year student in GGSIPU . In this project I basically use node.js as backend framework </p>
        </main>
    <img class="portrait" src="/img/shinchan.png">
    </div>
    {{>footer}}
</body>
</html>