
body {
    color : white;
    font-family : arial;
    /* max-width : 650px; */
    margin : 0 auto;
    padding : 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    background-image: url("");
    /* background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
    /* background-image: linear-gradient(135deg,#0F2027, #203A43, #2C5364 ); */
    /* background-image: linear-gradient(135deg,#16222A,#3A6073 ); */
    /* background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%); */
    /* background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%); */
    background-image: linear-gradient(-225deg, #7085B6 0%, #87A7D9 50%, #DEF3F8 100%);
}
.navbar-1{
    display: flex;
    justify-content: right;
}

.main-content {
    flex-grow : 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-content-2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    flex-grow : 1;
    font-size: large;
}
.help-content{
    margin: auto;
    margin-top: 2rem;
    width:65%;
    padding: 25px;
}
.title{
    margin-top: 3%;
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin-left: 1%;
}

footer{
   color: white ;
   border-top: 1px solid #eeeeee;
   margin-top: 16px;
   padding:16px 0;
}

input {
   border : 1px solid #cccccc;
   padding : 8px;
}

button {
   cursor: pointer;
   border: 1px solid white;
   background-color: white;
   color: white;
   padding : 8px;
}


header {
    margin-top : 16px;
    margin-bottom:48px;
}

h1{
    font-size: 50px;
    margin-bottom: 16px;
}

header a{
     /* color : #888888; */
     color: white;
     margin-right: 16px;
     text-decoration: none;
}

.portrait {
     width: 230px;
}
.form{
    margin: auto;
    width: 60%;
    padding: 20px;
}
#button{
    text-align: center;
}
.content-2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;   
}
.final-message{
    padding-top: 3rem;
    font-size: 19px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#ul1{
    font-size: large;
    color: white;
    
}
a:hover{
    color: navy;
}
#il2 title::before{
    background: url(public/img/icon.png);
    height: 20px;
    width: 20px;
    display: block;
}
#iil2{
    color: blue;
}
#iil2:hover{
    color: navy;
}